Projucer.exe
Projects/PitchShiftPlugin/Builds/VisualStudio2017/.vs/
Projects/PitchShiftPlugin/Builds/VisualStudio2017/x64/
Projects/PitchShiftAdaptiveResolutionPlugin/Builds/VisualStudio2017/.vs/
Projects/PitchShiftAdaptiveResolutionPlugin/Builds/VisualStudio2017/x64/